body {
	background-color:  #E1C8A2;
}
.orange{
	background-color: #e69339;
}
.green{
	background-color: #4ee653;
}
.blue {
	background-color: #6aa8eb;
}
.red {
	background-color: #ed4747;
}
.purple {
	background-color: #ac6ee6;
}
.yellow {
	background-color: #e6d86e;
}